@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f7e1;
  --foreground: #000;
  --alternate: #79d6c2;
  --inverse: #418869;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #418869;
    --foreground: #fff;
    --alternate: #79d6c2;
    --inverse: #f5f7e1;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
